%h1.title Paid Lunch

.field
  = link_to 'New search', new_paid_lunch_path, class: "button is-link"

.content
  %dl
    %dt= t('paid_lunch.budget')
    %dd= @budget.format

%h2.title.is-4 Results

.content
  %ul
    - @restaurants.each do |restaurant|
      %li
        = link_to restaurant.name, restaurant
        %ul
          - @tag_quantities.each do |tid, quantity|
            %li
              = quantity
              x
              - menu_item = restaurant.cheapest_menu_item_by(tid)
              = menu_item.name
              = menu_item.price.format(with_currency: true)
