= form_with model: @restaurant, local: true do |form|

  .field
    = form.label :name, class: 'label'
    .control
      = form.text_field :name, class: 'input'

  .field.is-grouped
    .control
      = form.submit class: 'button is-primary'
    .control
      = link_to 'Back', restaurants_path, class: 'button'
