= form_with model: @restaurant, local: true do |form|
  - if @restaurant.errors.any?
    %article.message.is-danger
      .message-header
        Error
      .message-body
        = pluralize(@restaurant.errors.count, "error")
        prohibited this restaurant from being saved:
        .content
          %ul
            - @restaurant.errors.full_messages.each do |msg|
              %li= msg

  .field
    = form.label :name, class: 'label'
    .control
      = form.text_field :name, class: 'input'

  .field.is-grouped
    .control
      = form.submit class: 'button is-primary'
    .control
      = link_to 'Back', restaurants_path, class: 'button'
