%h1.title Restaurants

.field
  = link_to 'New restaurant', new_restaurant_path, class: "button is-link"

%table.table.is-striped.is-fullwidth
  %thead
    %tr
      %th Name
      %th Actions

  %tbody
    - @restaurants.each do |restaurant|
      %tr
        %td= restaurant.name
        %td
          %p.buttons
            = link_to restaurant, class: "button" do
              %span.icon.is-small
                %i.far.fa-eye
            = link_to edit_restaurant_path(restaurant), class: "button" do
              %span.icon.is-small
                %i.far.fa-edit
            = link_to restaurant, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" do
              %span.icon.is-small
                %i.far.fa-trash-alt
