!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title RailsMealDelivery
    %link{:rel => :stylesheet, :href => "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"}
    %script{:defer => "defer", :src => "https://use.fontawesome.com/releases/v5.9.0/js/all.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %nav.navbar
      .container
        .navbar-end
          - if logged_in?
            .navbar-item
              = t('login.greeting', username: current_user.login)
            .navbar-item
              = link_to t('logout.title'), logout_path, method: :delete, class: 'button'
          - else
            .navbar-item
              .buttons
                - unless current_page?(login_path)
                  = link_to t('login.title'), login_path, class: 'button'

    %section.section
      .container
        - [:notice, :error].each do |type|
          - if flash[type]
            - message = flash[type]
            %article.message
              .message-body
                = message
        = yield
